{{define "content"}}
<div>
  <a href="/">Home</a>
</div>
<h1>View</h1>
<form>
  <input name="key" placeholder="IsOXNgE" value="{{.Key}}" />
  <button type="submit">View</button>
</form>

{{if .Found}}
<p>
  <a href="{{.ShortURL}}">{{.ShortURL}}</a>
  <span> &rarr; </span>
  <a href="{{.URL}}">{{.URL}}</a>
  <br />
  <br />
</p>
{{end}}
{{if and .Searched (not .Found)}}<p>Url not found</p>{{end}}
{{if and (gt .Visits 0) .LastVisitedAt}}
<p>Redirected {{.Visits}} times</p>
<p>Last redirected at {{.LastVisitedAt}}</p>
{{end}}
{{end}}
